<form asp-action="UploadLeadData" asp-controller="CustomerDetail" enctype="multipart/form-data">
    <input type="file" name="CustomerData" />
    <input type="submit" class="btn btn-primary" value="Upload" />
</form>