@model HRMS.Core.Entities.LeadManagement.CustomerDetail
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<link href="~/css/site.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-12">
        <div class="panel widget">
            <div class="panel-body">
                <form id="form" method="post" data-ajax="true" data-ajax-method="post" data-ajax-begin="AjaxOnBegin"
                      data-ajax-complete="AjaxComplete"
                      asp-action="PostCreateLead" asp-controller="EmployeeLead" data-ajax-success="Success">
                    <div class="row">
                        <div class="col-md-3">
                            <label class="control-label">Lead Name</label>
                            <div class="controls">
                                <input asp-for="Id" type="hidden" />
                                <input asp-for="CreatedBy" type="hidden" />
                                <input asp-for="CreatedDate" type="hidden" />
                                <input type="hidden" asp-for="AssignDate" />
                                <input type="text" asp-for="CustomerName">
                                <span asp-validation-for="CustomerName" class="text-danger"></span>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Location</label>
                            <div class="controls">
                                <input type="text" asp-for="Address">
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Phone</label>
                            <div class="controls">
                                <input type="text" asp-for="Phone">
                                <span asp-validation-for="Phone" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Email</label>
                            <div class="controls">
                                <input type="text" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>

                        @*<div class="col-md-3">
                            <label class="control-label">Country</label>
                            <div class="controls">
                                <input type="text" asp-for="Country">
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">State</label>
                            <div class="controls">
                                <input type="text" asp-for="State">
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">City</label>
                            <div class="controls">
                                <input type="text" asp-for="City">
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Zip Code</label>
                            <div class="controls">
                                <input type="number" asp-for="ZipCode">
                                <span asp-validation-for="ZipCode" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Company Name</label>
                            <div class="controls">
                                <input type="text" asp-for="CompanyName">
                                <span asp-validation-for="CompanyName" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Website</label>
                            <div class="controls">
                                <input type="text" asp-for="Website">
                                <span asp-validation-for="Website" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <label class="control-label">Industry</label>
                            <div class="controls">
                                <input type="text" asp-for="Industry">
                                <span asp-validation-for="Industry" class="text-danger"></span>
                            </div>
                        </div>*@

                    </div>

                    <div class="form-actions-condensed row mgbt-xs-0">
                        <div class="col-sm-12">
                            <button type="submit" class="btn vd_btn vd_bg-green vd_white pull-right">
                                <span class="menu-icon">
                                    <i class="fa fa-fw fa-check-circle"></i>
                                </span> Save
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>